<div class="lista-livros">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-header">
            Cadastrar
          </div>
          <div class="card-body">
            <i class="fas fa-plus-square"></i>
          </div>
          <div class="card-footer text-muted">
            <a href="#" class="btn btn btn-secondary">Cadastrar Livro</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-header">
            Lista de Livros
          </div>
          <div class="card-body">
            <i class="far fa-list-alt"></i>
          </div>
          <div class="card-footer text-muted">
            <a href="#" class="btn btn btn-secondary">Listar Livros</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
