<div class="lista-livros">
  <div class="container">
    <h1>Livros Cadastrados</h1>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Coleção</th>
          <th scope="col">Nome Livro</th>
          <th scope="col">Nome Autor</th>
          <th scope="col">Ano Edição</th>
          <th scope="col">Edição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Guerra dos Tronos</td>
          <td>A Guerra dos Tronos</td>
          <td>George R. R. Martin</td>
          <td>1996</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Guerra dos Tronos</td>
          <td>A Furia dos Reis</td>
          <td>George R. R. Martin</td>
          <td>1998</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Guerra dos Tronos</td>
          <td>A Tormenta de Espadas</td>
          <td>George R. R. Martin</td>
          <td>2000</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Guerra dos Tronos</td>
          <td>O Festim dos Corvos</td>
          <td>George R. R. Martin</td>
          <td>2005</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Guerra dos Tronos</td>
          <td>A Danca dos Dragoes</td>
          <td>George R. R. Martin</td>
          <td>2011</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
