<div class="new-livro">
  <div class="container">
    <h1>Cadastrar Livro</h1>
    <form>
      <div class="mb-3 row">
        <label for="nomeLivro" class="col-sm-2 col-form-label">Nome Livro:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nomeLivro">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="nomeAutor" class="col-sm-2 col-form-label">Nome Autor:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nomeAutor">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="colecaoLivro" class="col-sm-2 col-form-label">Coleção:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="colecaoLivro">
          </div>
      </div>
      <div class="mb-3 row">
          <label for="anoEdicaoLivro" class="col-2 col-form-label">Ano Edição:</label>
          <div class="col-4">
            <input type="number" class="form-control" id="anoEdicaoLivro">
          </div>
          <label for="edicaoLivro" class="col-2 col-form-label">Edição:</label>
          <div class="col-4">
            <input type="number" class="form-control" id="edicaoLivro">
          </div>
      </div>
      <br>
      <div class="col-auto">
        <button type="submit" class="btn btn-secondary">Cadastrar Livro</button>
      </div>
    </form>
  </div>
</div>
